# Android / Gradle
*.iml
.gradle/
/local.properties
/.idea/
**/build/
/captures
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab
*.ap_

# Signing
*.jks
*.keystore
keystore.properties

# Secrets
*.pem
*.p12
.env

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class

# Coverage / Reports
jacoco.exec
